<div class="header">
  <ul class="nav nav-pills pull-right">
    <li><a ng-href="#">New User</a></li>
    <li><a ng-href="#/existing">Existing User</a></li>
    <li class="active"><a ng-href="#/admin">Admin</a></li>
  </ul>
  <img src="/assets/images/moonfruit_logo.png" class="logo" />
  <h3 class="text-muted">MoonBuddy</h3>
</div>

<h1>Admin Interface</h1>

<div class="row marketing">
  <h2>Add a new user:</h2>
  <p>
    <label for="Name">Name:</label>
    <input type="text" id="name" ng-model="user.name" />
  </p>
  <p>
    <label for="username">Username:</label>
    <input type="text" id="username" ng-model="user.username" /> @moonfruit.com
  </p>
  <p>
    <label for="department">Department:</label>
    <input type="text" id="department" ng-model="user.department" />
  </p>
  <p>
    <label for="team">Team:</label>
    <input type="text" id="team" ng-model="user.team" />
  </p>
  <button ng-click="createUser()">Create User</button>
  
  <p>Doing this may or may not send them an email, time permitting.</p>

  <hr>

  <h2>Match up a user!</h2>

  <p>
    <select ng-model="selectedUser">
      <option ng-repeat="user in existingUsers" value="{{ user.id }}">{{
        user.name }}</option>
    </select>
    <button ng-click="findMatch(selectedUser)">Find a match!</button>
  </p>

  <p>
    <table class="user-table">
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Team</th>
        <th>Department</th>
        <th>Score</th>
      <tr>
      <tr ng-repeat="user in matchedUsers">
        <td>{{ user.name }}</td>
        <td>{{ user.id }}</td>
        <td>{{ user.team }}</td>
        <td>{{ user.department }}</td>
        <td>{{ user.score }}</td>
      </tr>
    </table>
  </p>
  
</div>
