<div class="header">
  <ul class="nav nav-pills pull-right">
    <li><a ng-href="#">New User</a></li>
    <li class="active"><a ng-href="#/existing">Existing User</a></li>
    <li><a ng-href="#/admin">Admin</a></li>
  </ul>
  <h3 class="text-muted">MoonBuddy</h3>
</div>

<h1>Matching moonfruitees</h1>

<div class="row marketing">
  <p>
    Something Something.
  </p>
  <table class="user-table">
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Team</th>
      <th>Department</th>
    <tr>
    <tr ng-repeat="user in existingUsers">
      <td>{{ user.name }}</td>
      <td>{{ user.id }}</td>
      <td>{{ user.team }}</td>
      <td>{{ user.department }}</td>
    </tr>
  </ul>
</div>

<div class="footer">
  <p><span class="glyphicon glyphicon-heart"></span> from moonfruit.</p>
</div>
