<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">New User</a></li>
    <li><a ng-href="#/existing">Existing User</a></li>
    <li><a ng-href="#/admin">Admin</a></li>
  </ul>
  <h3 class="text-muted">MoonBuddy</h3>
</div>

<h1>Matching moonfruitees</h1>

<div class="marketing">
  <p>
    Moonfruitee buddy matching app. Fill it in, yo.
  </p>

  <p>
    <label for="username">Email: </label>
    <input type="text" id="username" ng-model="user.username" />
    @moonfruit.com
  </p>
<!--
  <p>
    <label for="department">Department: </label> 
    <input type="text" id="department" ng-model="user.department" />
  </p>
-->
  <ul>
    <li ng-repeat="question in questions" class="row-fluid">
      <p>{{ question.text }}</p>
      <p class="explanation">{{ question.scaleExplain }}</p>
      <p class="half"><input type="range" max="{{ question.scaleTo }}" min="{{ question.scaleFrom }}" value="0" ng-model="question.value" ng-init="question.value=0" /></p>
      <p class="half value">{{ question.value }}</p>

      <button ng-click="submitAnswers(question.id, question.value)">Submit</button>

    </li>
  </ul>

</div>
