<div class="header">
  <ul class="nav nav-pills pull-right">
    <li><a ng-href="#">New User</a></li>
    <li><a ng-href="#/existing">Existing User</a></li>
    <li><a ng-href="#/admin">Admin</a></li>
  </ul>
  <h3 class="text-muted">MoonBuddy</h3>
</div>

<h1>Matching moonfruitees</h1>

<div class="row marketing">
  <p>
    This is a user:
  </p>
  <table class="user-table">
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Team</th>
      <th>Department</th>
    <tr>
    <tr>
      <td>{{ user.name }}</td>
      <td>{{ user.id }}</td>
      <td>{{ user.team }}</td>
      <td>{{ user.department }}</td>
    </tr>
  </table>

  <ul>
    <li ng-repeat="answer in answers">
      {{ answer.question_id }} : {{ answer.answer }}
    </li>
  </ul>
</div>
