<div class="header">
  <ul class="nav nav-pills pull-right">
    <li><a ng-href="#">New User</a></li>
    <li><a ng-href="#/existing">Existing User</a></li>
    <li><a ng-href="#/admin">Admin</a></li>
  </ul>
  <img src="/assets/images/moonfruit_logo.png" class="logo" />
  <h3 class="text-muted">MoonBuddy</h3>
</div>

<h1>Matching moonfruitees</h1>

<div class="row marketing">
  <h2>User</h2>

  <table class="user-table">
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Team</th>
      <th>Department</th>
    <tr>
    <tr>
      <td>{{ user.name }}</td>
      <td><a href="#user/{{ user.id }}/answers">{{ user.id }}</a></td>
      <td>{{ user.team }}</td>
      <td>{{ user.department }}</td>
    </tr>
  </table>

  <h2>Answers</h2>

  <table class="user-table">
    <tr>
      <th>Question</th>
      <th>Answer</th>
    </tr>
    <tr ng-repeat="answer in answers">
      <td>{{ answer.question_id }}</td>
      <td>{{ answer.answer }}</td>
    </tr>
  </table>
</div>
