@(title: String)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
    </head>
    <body>
        
        <h1>Welcome to MoonfruitBuddy!</h1>
        
        <p>You can currently do a</p>
        <ul>
        	<li>GET to /questions to get a list of all questions</li>
        	<li>GET to /users to get a list of all users</li>
        	<li>POST to /users" to create a new user</li>
        	<li>GET to /users/"id" to retrieve a user</li>
        	<li>PUT to /users/"id" to update a user</li>
        	</li>
        </ul>
 
    </body>
</html>
